body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #007bff;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #0b6bd3;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  
  #header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  }
  
  #header.header-scrolled,
  #header.header-pages {
    height: 60px;
    padding: 10px 0;
  }
  
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #00366f;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
  }
  
  .main-pages {
    margin-top: 60px;
  }
  
  @media (min-width: 993px) {
  .tfirst {
    font-size: 16px;
    font-weight: 200;
    color: white;
    margin: 0px 290px 50px 290px;
  /* add media query for margin */
  }
  }
  .tfirst {
    color: white;
  }
  
  
  
  strong {
    font-weight: 500;
  }
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  
  #intro {
    width: 100%;
    position: relative;
    background: url("../img/intro-bg.png") center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
  }
  
  #intro .intro-img {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* float: right; */
  }
  
  #intro .intro-info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* float: left; */
  }
  
  #intro .intro-info h2 {
    color: #fff;
    margin-bottom: 28px;
    font-size: 32px;
    font-weight: 450;
  }
  
  #intro .intro-info h2 span {
    color: #74b5fc;
    text-decoration: underline;
  }
  
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started:hover {
    background: none;
    border-color: #fff;
    color: #fff;
  }
  
  #intro .intro-info .btn-services {
    border: 2px solid #fff;
  }
  
  #intro .intro-info .btn-services:hover {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  
  /* Desktop Nav */
  
  .main-nav,
  .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .main-nav a {
    display: block;
    position: relative;
    color: #004289;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .main-nav a:hover,
  .main-nav .active > a,
  .main-nav li:hover > a {
    color: #007bff;
    text-decoration: none;
  }
  
  .main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .main-nav .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .main-nav .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 13px;
    color: #004289;
  }
  
  .main-nav .drop-down ul a:hover,
  .main-nav .drop-down ul .active > a,
  .main-nav .drop-down ul li:hover > a {
    color: #007bff;
  }
  
  .main-nav .drop-down > a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
  }
  
  .main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .main-nav .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .main-nav .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .main-nav .drop-down .drop-down > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
  }
  
  /* Mobile Navigation */
  
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(19, 39, 57, 0.8);
    transition: 0.4s;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover,
  .mobile-nav .active > a,
  .mobile-nav li:hover > a {
    color: #74b5fc;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\f077";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #004289;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(19, 39, 57, 0.8);
    overflow: hidden;
    display: none;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
  /* Sections Header
  --------------------------------*/
  
  .section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
  }
  
  .section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
  }
  
  /* Section with background
  --------------------------------*/
  
  .section-bg {
    background: #ecf5ff;
  }
  
  /* About Us Section
  --------------------------------*/
  
  #about {
    background: #fff;
    padding: 60px 0;
  }
  
  #about .about-container .background {
    margin: 20px 0;
  }
  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #007bff;
    transition: all 0.3s ease-in-out;
  }
  
  #about .about-container .icon-box .icon i {
    color: #007bff;
    font-size: 24px;
  }
  
  #about .about-container .icon-box:hover .icon {
    background: #007bff;
  }
  
  #about .about-container .icon-box:hover .icon i {
    color: #fff;
  }
  
  .benefit {
    text-align: center;
    display: inline-block;
    width: 20%;
    /* margin-top: 500px; */
    margin: 1%;
    vertical-align: top;
    font-size: 10px;
  }
  .icon_title {
    font: 15px bold;
    margin-bottom: 10px;;
  }
  .num-space {
    text-align: center;
    font-size: 15px;
    margin-top: 65px;
  }
  .icon_para {
    font-weight: lighter;
  }
  
  .nums {
    color: #6144e3;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .i-circle {
    background: #6144e3;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50%;
    font-size: 35px;
    width: 64px;
    height: 64px;
    float: left;
    text-align: center;
  }
  .i-circle:hover {
    background: blue;
  }
  
  /* .best-card {
    margin: 0 auto;
  } 
  Here I was centering card, but ended up using custom sketch image instead*/
  
  
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  #about .about-container .icon-box .title a {
    color: #283d50;
  }
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }
  .description1 {
    margin-left: 80px;
    line-height: 24px;
    font-size: 19px;
    margin-top: -20px;
  }
  
  #about .about-extra {
    padding-top: 60px;
  }
  
  #about .about-extra h4 {
    font-weight: 600;
    font-size: 24px;
  }
  
  
  #contact {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
    overflow: hidden;
  }
  
  #contact .section-header {
    padding-bottom: 30px;
  }
  
  #contact .contact-about h3 {
    font-size: 36px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #007bff;
  }
  
  #contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    color: #888;
  }
  
  #contact .social-links {
    padding-bottom: 20px;
  }
  
  #contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #007bff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #007bff;
  }
  
  #contact .social-links a:hover {
    background: #007bff;
    color: #fff;
  }
  
  #contact .info {
    color: #283d50;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #007bff;
    float: left;
    line-height: 1;
  }
  
  #contact .info p {
    padding: 0 0 10px 36px;
    line-height: 28px;
    font-size: 14px;
  }
  
  #contact .form #sendmessage {
    color: #007bff;
    border: 1px solid #007bff;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #sendmessage.show,
  #contact .form #errormessage.show,
  #contact .form .show {
    display: block;
  }
  
  #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .form input,
  #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .form button[type="submit"] {
    background: #007bff;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
  }
  
  #contact .form button[type="submit"]:hover {
    background: #0067d5;
    cursor: pointer;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  
  #footer {
    background: #6144e3;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #6144e3;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #ecf5ff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #007bff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #0067d5;
    color: #fff;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #ecf5ff;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #74b5fc;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #007bff;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0062cc;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
  }
  
  #footer .credits a {
    color: #bfddfe;
  }
  
  #footer .credits a:hover {
    color: #f1f7ff;
  }
  
  /*--------------------------------------------------------------
  # Responsive Media Queries
  --------------------------------------------------------------*/
  
  @media (min-width: 992px) {
    #testimonials .testimonial-item p {
      width: 80%;
    }
  
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  
    #intro {
      padding: 140px 0 60px 0;
    }
  
    #intro .intro-img {
      width: 50%;
      float: none;
      margin: 0 auto -100px auto;
    }
  
    #intro .intro-info {
      width: 80%;
      float: none;
      margin: auto;
      text-align: center;
    }
  
    #why-us .card {
      margin: 0;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  @media (max-width: 767px) {
    #intro .intro-info {
      width: 100%;
    }
  
    #intro .intro-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  
    .section-header p {
      width: 100%;
    }
  }